{% extends 'base.html' %}

{% block body_block %}
    <div class="container">
        <div class="jumbotron">
          <h1>Name : {{ csr.name }}</h1>
          <p><strong>Url:</strong> {{ csr.common_name }}</p>
          <p><strong>Issuer:</strong><br> {{ csr.set_issuer }}</p>
          <p style="margin-left: 1%;"><strong>CSR:</strong><br> <pre>{{ csr.csr }}</pre></p>
          <p><strong>Certificate:</strong><br> <pre>{{ csr.certificate }}</pre></p>
          <p><strong>Key:</strong><br><pre> {{ csr.key }}<pre></p>
        </div>
    </div>
{% endblock body_block %}